.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: 0px;
}

body {
    margin: 0px;
    background-color: black;
}

#base {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    color: white;
}